<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>

  <body>
    <%- include("../menu"); %>
    <button class="btn blue-gradient" onclick="location.href='/api/movie/new'">
      등록
    </button>
    <!-- 목록 조회 -->
    <div class="row row-cols-1 row-cols-md-3">
      <% result.forEach(movie => { %>
      <div class="col mb-4">
        <!-- Card -->
        <div class="card">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
              alt="Card image cap"
            />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><%= movie.title %></h4>
            <!--Text-->
            <p class="card-text">
              <%= movie.director %>
            </p>
            <p class="card-text">
                <%= movie.year %>
              </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md"
            onclick="location.href='/api/movie/<%=movie._id%>'"
            >
                상세조회
            </button>
          </div>
        </div>
        <!-- Card -->
      </div>
      <% }) %>

    <%- include("../footer"); %>
  </body>
</html>
