<!DOCTYPE html>
<html lang="en">
  <%- include("sidebar"); %> <%- include("header"); %> <%- include("footer"); %>
  <head>
    <style>
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
      @import url(//cdn.rawgit.com/hiun/NanumSquare/master/NanumSquare.css);
      body {
        -ms-overflow-style: none;
        margin: 0px;
        padding: 0px;
      }
      ::-webkit-scrollbar {
        display: none;
      }
      .background {
        z-index: 1;
        position: relative;
      }
      .profile {
        width: 30vw;
        height: 10vw;
        position: absolute;
        z-index: 2;
        left: 35vw;
        top: 22vw;
        font-family: "Nanum Square";
        font-size: 20pt;
      }
      #name {
        font-size: 30pt;
        border: none;
      }
      #email {
        border: none;
      }
      .notice {
        font-size: 10pt;
        color: red;
      }
      .btn {
        left: 20vw;
      }
    </style>
  </head>
  <body>
    <div class="background">
      <img class="parent" src="/images/emptybg.png" style="width: 100%;" />
    </div>
    <div class="profile">
      안녕하세요,<br /><br /><br />
      <form
        id="updateForm"
        method="get"
        action="/api/project/<%= user.id %>/edit"
      >
        <div class="notice">내용 수정 후 버튼을 눌러주세요</div>
        <input
          type="text"
          id="name"
          value="<%= user.name %>"
          size="10"
        />님<br /><br /><br />
        계정 정보<br />
        <input
          type="text"
          id="email"
          value="<%= user.email %>"
          size="20"
          readonly
        /><br /><br /><br />
        <button type="submit" class="btn btn-yellow">
          수정하기
        </button>
      </form>
    </div>
    <script>
      $(function () {
        $("#updateForm").submit((event) => {
          event.preventDefault;

          const name = $("#name").val();

          $.ajax({
            url: "/api/project/<%= user.id%>",
            type: "PUT",
            data: { name },
          })
            .done(() => {
              location.href = "/profile";
            })
            .fail((request, status, error) => {
              alert(request.responseText);
            });
        });
      });
    </script>
  </body>
</html>
